body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 50em;
}

/*Блок 1*/
header {
    background: #59a6f3;
}

.logo {
    margin-top: 50px;
    width: 150px;
}
.flex1 {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}

.flex1_1 {
    color: white;
    margin-right: 10px;
    margin-bottom: 40px;
}

.flex1_h1 {
    margin-top: 70px;
    font-size: 40px;
    margin-bottom: 60px;
}

span{
    font-size: 50px;
}

.flex1_big {
    font-size: 80px;
}

.flex1_h6 {
    margin-top: 70px;
    font-size: 20px;
    margin-bottom: 50px;
}

.flex1_button {
    color: black;
    background-color: rgb(255,218,22);
    font-size: 20px;
    padding: 15px;
}

.phone{
    margin-top: 40px;
    margin-bottom: 100px;
    width: 462px;
}

/*Блок 2*/
.main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 60em;
}

.flex2_h2 {
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.flex2 {
     display: flex;
     justify-content: space-between;

}

.flex20 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_main {
    width: 100px;
    text-align: center;
    margin-top: 25px;
    height: 90px;
}

.flex20_p {
    width: 300px;
    text-align: center;
}

/*Блок lab8*/
.lab8 {
    background-color: rgba(182, 250, 173, 0.801);
    text-align: center;
    display: flex;
}

  select {
    width: 300px;
    padding: 5px;
    border: 1px solid #ccc;
    border-color: black;
  }


form {
    font-size: 15px;
}

form input,
button {
    border: 1px solid rgb(0, 0, 0);
    padding: 2px;
    width: 300px;
    height: 30px;
}

button {
    background-color: rgb(255,218,22);
    width: 300px;
    height: 40px;
    margin-bottom: 100px;
}

/*Блок 3*/
.forms {
    background-color: rgb(220, 243, 247);
    text-align: center;
    display: flex;
}

.h2_form {
    margin-top: 100px;
    padding-top: 100px;
    font-size: 30px;
    margin-bottom: 50px;
}

form {
    font-size: 15px;
}

form input,
button {
    border: 1px solid rgb(0, 0, 0);
    padding: 2px;
    width: 300px;
    height: 30px;
}

button {
    background-color: rgb(255,218,22);
    width: 305px;
    height: 40px;
    margin-bottom: 100px;
}

/*Блок 4*/
.footer {
    padding: 50px;
    color: white;
    background-color: rgb(37,120,194);
    text-align: center;
}

/*Media запросы CSS для адаптации страницы*/
    
@media screen and (max-width: 1200px)

{

}

/* Большие девайсы (desktops, 992px and up)*/

@media screen and (max-width: 992px)

{

    .flex2 {
        flex-direction: column;
    }
    
    .phone{
        width: 450px;
        align-items: column;
    }

    
}

/* Средние девайсы (tablets, 768px and up)*/

@media screen and (max-width: 768px)

{
    .phone{
        width: 450px;
    }

    .container {
        width: 40em;
        align-items: center;
    }

    .main {
            width: 40em;
    }

    .flex1 {
        flex-direction: column;
        align-items: center;
    }

    .flex1_1 {
        text-align: center;
    }

    .phone{
        width: 400px;
        align-items: column;
    }

}

/* Маленькие девайсы (landscape phones, 576px and up)*/

@media screen and (max-width: 576px)

{
    .container {
        width: 25em;
        align-items: center;
    }

    .main {
            width: 25em;
    }

    .phone{
        width: 350px;
    }

}